@font-face {
    font-family: 'fuente_';
    src: url(/fonts/ConcertOne-Regular.ttf) format('truetype');
}
body{
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    overflow-x: hidden;
}
.contenido-general{
    background-color: rgba(29, 22, 23, .4);
}