@font-face {
    font-family: 'fuente_login-bienvenida';
    src: url(/fonts/Jersey25Charted-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'fuente_login';
    src: url(/fonts/ConcertOne-Regular.ttf) format('truetype');
}
body{
    background-image: url('/img/fondo-login-blanco.jpg');
    overflow-x: hidden;
}
div.container.text-center{
    margin-top: 3%;
    padding: 0 15px;
}
.contenido-general{
    padding: 5%;
}
.contenido-bienvenida{
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;
    border-radius: 10px;
    font-family: fuente_login, Arial, Helvetica, sans-serif;
    border: 5px #fff solid;
    margin-bottom: 20px;
    order: 2;
}
.login-plh{
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 5% 1% 5% 1%;
    font-family: fuente_login, Arial, Helvetica, sans-serif;
    border: 5px #fff solid;
    border-left: 0px;
    color: #fff;
    margin-bottom: 20px;
    order: 1;
}
.instrucciones{
    max-width: 100%;
    margin: auto;
}
.instrucciones p{
    font-size: smaller;
    text-align: justify;
}
.input-login{
    margin: 3%;
}
.input-login input{
    max-width: 100%;
}
.boton-login{
    margin: auto;
    max-width: 50%;
    background-color: #4bb4f8;
    border-radius: 5px;
}
.boton-login button{
    background-color: transparent;
    border: none;
    color: #fff;
}
.color{
    color: #fff;
}

.nombre-proyecto{
    margin-top: 2%;
    margin-bottom: 17%;
    text-align: left;
}
.bienvenida-texto{
    margin-bottom: 2%;
}
.bienvenida-texto h4{
    font-size: 30px;
}

.bienvenida-titulo{

}
.bienvenida-titulo h1{
    font-size: 64px;
}

.bienvenida-parrafo{
    max-width: 50%;
    margin: auto;
}

@media (min-width: 768px) {
    .contenido-bienvenida {
        order: 1;
    }
    .login-plh {
        order: 2;
    }
}